build
target
.idea
.vscode
.kotlin
.gradle
.DS_Store
*.env
*/**/gradle/wrapper/gradle-wrapper.jar

node_modules/
dist/
npm-debug.log*
.npm
.eslintcache
.prettiercache
*.d.ts
package-lock.json

*/**/resources/public
*/**/resources/static
